.about {
  background-color: #effaff;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
}

.about-text {
  line-height: 35px;
}

.about-img {
  width: 500px;
  border-radius: 20px;
  float: right;
  margin-left: 30px;
}
